$primary_color:#3E3b3b;
$secondary_color:#bf4122;
$tertiary_color:#f2f1f1;
$quaternary_color:#7e8287;
$error_color:#cc2229;
$warning_color:#be4122;
$success_color:#33a457;
$info_color:#70a3d7;
$white_color:#ffffff;
$bc_color_1:#767474;
$bc_color_2:#FFBB44;
$bc_color_3:#fefefe;
$bc_color_4:#2C2B2B;
$bc_color_5:#BEC5C9;
$bc_color_6:#363636;
$bc_color_7:#D04936;
$bc_color_8:#26235C;
$bc_color_9:#999999;
$bc_color_10:#b5b5b5;
$bc_color_11:#A1371D;
$bc_color_12:#000000;
$bc_color_13:#F3F4F4;
$bc_color_14:#403E3E

