	$nav: (
		background: #bf4122,
	);

	$topLevel: (
		color: #FFFFFF,
		hoverColor:#bf4122,
		fontFamily:'Montserrat',
		fontSize: 16px,
		fontWeight: 400, 
		background: none,
		hoverBackground: #F2F1F1,
		iconColor: #3B3B3B
	);

	$secondLevel: (
		color: #3E3B3B,
		hoverColor:#BE4122,
		fontFamily:'Open Sans',
		fontSize: 16px,
		fontWeight: 400, 
		background: #FFFFFF,
		hoverBackground: #EBEBEB,
		iconColor: #3B3B3B
	);

	$thirdLevel:(
		color: #3E3B3B,
		hoverColor:#BE4122,
		fontFamily:'Open Sans',
		fontSize: 16px,
		fontWeight: 400, 
		background: #FFFFFF,
		hoverBackground: #EBEBEB
	);